$primary-color: #2BD17E;
$error-color : #EB5757;
$font-family-base: 'Roboto', sans-serif;
$background-color: #093545;
$input-color: #224957;
$card-color: #092C39;
$secondary-color: #6c757d;
$border-color: #ccc;
$button-radius: 5px;
$font-size-base: 16px;
$font-size-large: 18px;
$text-color: #FFFFFF;
